<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--     把com.jiago.mybatis.pojo.User定义别名user这样mapper文件resultType直接使用user就行不用写包路径-->
        <typeAlias type="com.lzj.jdbcandmybatis.mybatis.pojo.User" alias="user"/>
    </typeAliases>
    <plugins>
        <!--        日志拦截器插件-->
        <plugin interceptor="com.lzj.jdbcandmybatis.mybatis.plugin.SqlPrintInterceptor"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/study?useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        mybatis运行时读取UserMapper.xml文件-->
        <mapper resource="mybatis/UserMapper.xml"/>
<!--        mybatis运行时读取UserMapper的class-->
        <mapper class="com.lzj.jdbcandmybatis.mybatis.mapper.UserMapper"/>
<!--        mybatis运行时读取com.jiago.mybatis.mapper的全部class-->
<!--        <package name="com.jiago.mybatis.mapper"/>-->
    </mappers>
</configuration>